<!-- <div class="sidebar">
    <a href="index.html">Home</a>
    <a href="html1.html">HTML 1</a>
    <a href="javascript1.html">JavaScript 1</a>
    <a href="css1.html">CSS 1</a>
    <a href="index.html#services">Services</a>
</div> -->

<div class="sidebar">
    <a href="#" onclick="loadPage('html0.html')">Home</a>
    <a href="#" onclick="loadPage('html1.html')">HTML 1</a>
    <a href="#" onclick="loadPage('javascript1.html')">JavaScript 1</a>
    <a href="#" onclick="loadPage('css1.html')">CSS 1</a>
    <a href="#" onclick="loadPage('html0.html#services')">Services</a>
</div>